<h1> Edit Listing </h1>
<%= render "form", listing: @listing, breeds: @breeds, sexes: @sexes %>


<%# edit: variable @listing points to the actual data %>
<%# form_with helper understand that this is an edit request %>