<h1> Snake Legolas -  Legless pets </h1>
<p> Find your dream snake </p>

<%# <img src="https://cdn.pixabay.com/photo/2013/07/12/17/14/loch-ness-151851_1280.png"> %>
<%# rails helper : image_tag %>

<%= image_tag "https://cdn.pixabay.com/photo/2013/07/12/17/14/loch-ness-151851_1280.png" %>

<%# best practice to store static image : is in your rails app - > %>

<%= image_tag "snake_cartoon.jpeg"%>

<%# static images %>